{% extends "dashboard/dashboard_page.html" %}

{% block title %}Delete course{% endblock %}

{% block content %}
    <div class="card__heading">
        <h3 class="card__title">Удаление контактных данных</h3>
    </div>
    <div class="card__text">
        <div class="row admin__wrapper row__scroll">
            <div class="col-lg-12">

                <div class="add__service">
                    <form action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        <p>Вы действителльно хотите удалить контактные данные "{{ object.name }}"?</p>
                        <div class="admin__button">
                            <input type="submit" class="button" value="Удалить">
                        </div>
                    </form>
                </div>
{% endblock %}