{% extends "dashboard/dashboard_page.html" %}

{% block title %}Delete course{% endblock %}

{% block content %}
    <h4 class="add__service-title">
        Удаление контактных данных
    </h4>

    <div class="add__service">
        <form action="" enctype="multipart/form-data">
            {% csrf_token %}
            <p>Вы действителльно хотите удалить контактные данные "{{ object.name }}"?</p>
            <div class="admin__button">
                <input type="submit" class="button" value="Удалить">
            </div>
        </form>
    </div>
{% endblock %}