{% extends "dashboard/dashboard_page.html" %}
{% load static %}

{% block title %}
    {% if object %}
        Edit course "{{ object.title }}"
    {% else %}
        Добавить новые контактные данные
    {% endif %}
{% endblock %}

{% block content %}
    <div class="card__heading">
        <h3 class="card__title">Редактировать контактные данные</h3>
    </div>
    <div class="card__text">
    <div class="row admin__wrapper row__scroll">
    <div class="col-lg-12">
    <div class="add__service">
        <form class="grid__admin" action="." method="post" enctype="multipart/form-data">
            {{ form.as_p }}
            {% csrf_token %}
            <div class="admin__button">
                <p><input type="submit" value="Сохранить"></p>
            </div>
        </form>
    </div>

{% endblock %}


