{% extends "dashboard/dashboard_page.html" %}
{% load static %}

{% block title %}
    {% if object %}
        Edit course "{{ object.title }}"
    {% else %}
        Добавить новые контактные данные
    {% endif %}
{% endblock %}

{% block content %}
    <h4 class="add__service-title">
        {% if object %}
            Edit course "{{ object.title }}"
        {% else %}
            Добавить новые контактные данные
        {% endif %}
    </h4>
    <div class="add__service">
        <form action="." method="post" enctype="multipart/form-data">
            {{ form.as_p }}
            {% csrf_token %}
            <div class="admin__button">
                <p><input type="submit" value="Сохранить"></p>
            </div>
        </form>
    </div>

{% endblock %}


