{% extends "dashboard/dashboard_page.html" %}

{% block title %}Delete course{% endblock %}

{% block services_delete %}
    <h4 class="add__service-title">
        Удаление услуги
    </h4>

    <div class="add__service">
        <form action="" method="post">
            {% csrf_token %}
            <p>Вы действителльно хотите удалить услугу "{{ object.name }}"?</p>
            <div class="admin__button">
                <input type="submit" class="button" value="Удалить">
            </div>
        </form>
    </div>
{% endblock services_delete %}